html,
body {
		background-image: url(../img/backgrounds/brick.jpg);
		background-repeat: repeat-y;
		background-color: #ffc1d8;
		background-size: 100%;
		background-attachment: fixed;
		user-select: none;
}

header {
		z-index: 1;
		left: 0px;
		top: 0px;
		position: fixed;
		background-color: rgba(255, 192, 203, 1);
		border-radius: 0.2vw;
		height: 4.5vmax;
		width: 99%;
		font-size: 3vh;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: white;
		margin-left: 0.4vw;
		margin-top: 0.01%;
		margin-right: 2vw;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

aside{
	position: relative;
	margin-top: 5vmax;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: rgba(111, 211, 151, 0.8);
	float:left;
	border-radius: 1.5vw;
	text-align: center;
	width: 30%;
	margin-bottom: 2vw;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
	overflow: scroll;
	height: 84vmin;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

main{
	float:right;
	position: relative;
	margin-top: 5vmax;
	background-color: rgba(135, 206, 235, 0.8);
	width: 68%;
	border-radius: 1.5vw;
	text-align: center;
	margin-bottom: 2vw;
	box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.2);
	cursor: url('water2.cur'), auto;
	height: 84vmin;
}

footer{
	position: relative;
	float: left;
	clear:both;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
	background-color: rgba(255,250,205, 0.8);
	width: 99%;
	border-radius: 0.5vw;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

article img{
	width: 50%;
}

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}


.menu_box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 17vmax;
  height: 100%;
  margin: 0;
  padding: 1.7em 0;
  list-style: none;
  text-align: left;
  background-color: #CCFFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}


.menu_item {
  display: block;
	padding-left: 3.5vmax;
  color: #173;
  font-family: 'Roboto', sans-serif;
  font-size: 2vmax;
  font-weight: 600;
	line-height: 2em;
  text-decoration: none;
}

.current{
	color: tomato;
}

.menu_item:hover {
  background-color: #CFD8DC;
}

.sub_menu{
	position: relative;
	padding: 0;
	list-style: none;
	text-align: left;
	padding-left: 3.5vmax;
	overflow: hidden;
	max-height:0vw;
	-webkit-transition:max-height 0.4s linear;
	-moz-transition:max-height 0.4s linear;
	transition:max-height 0.5s linear;
}
.sub_menu_item{
	display: block;
  padding: 3% 12%;
  color: rgba(17, 119, 51, 0.8);
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vmax;
  font-weight: 600;
  text-decoration: none;
}

.sub_menu_item:hover {
  background-color: #CFD8DC;
}

ul.menu_box > li:hover > ul.sub_menu{
	max-height:7.5vmax;
	display: block;
}


#menu_toggle {
  opacity: 0;
}

.menu_btn {
  align-items: center;
  position: relative;
	float: left;
	margin-top: 0.20em;
	margin-bottom: 0.20em;
	margin-left: 0.5em;
  width: 1em;
	height: 1em;
  cursor: pointer;
  z-index: 1;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
	width: 2.95em;
  height: .1em;
  background-color: white;
	z-index: 1;
	border-radius: 1em;
	top: 30%;
}
.menu_btn > span {
  content: '';
	top: 0.28em;
}

.menu_btn > span::before {
  content: '';
  top: -1.28em;
}
.menu_btn > span::after {
  content: '';
  top: 1.28em;
}
#menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
	background-color: #000000;
}
#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
	background-color: #000000;
}
#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
	background-color: #000000;
}
#menu_toggle:checked ~ .menu_box {
  visibility: visible;
  left: 0;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  transition-duration: .35s;
}
.menu_box {
  transition-duration: .45s;
}
.menu_item {
  transition-duration: .35s;
}

h2{
		text-align: center;
		color: red;
		font-size: 4vmax;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		margin-bottom: 0px;
		margin-top: 0.3vh;
		clear: left;
}
p{
		position: relative;
		font-size: 1.3vw;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		text-align: center;
		padding-left: 3vw;
		padding-right: 3vw;
		margin-top: auto;
		margin-bottom: 0;
}

section ul{
		font-size: 1.3vw;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		margin-top: 0.1vw;
		text-align: justify;
		margin-bottom: 0.1vw;
		padding-left: 8.5vw;
		padding-right: 3vw;
}

section ul span{
		color: black;
}

section li{
	color: #CCFFF1;
}

img{
	width: 30%;
	border: 0.15vw solid green;
	border-radius: 1vw;
	margin-top: 0.5vw;
	margin-bottom: 1vw;
}

b, em, article em, i{
	color: #CCFFF1;
	font-weight: 600;
}

aside b, aside em, aside i{
	color: #6B8E23;
	font-weight: 600;
}

#read_more{
	color: purple;
}

aside img{
	margin-top: 0.1vw;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	margin-bottom: 0.2vw;
	width:70%;
	border: 0.1vw solid white;
	border-radius: 0.15vw;
}

aside p {
	font-size: 1vw;
	text-align: center;
	margin-left: 0.15vw;
	margin-right: 0.5vw;
	margin-bottom: 0.4vw
}

h3{
	color: #6B8E23;
	margin-top: 0.1vw;
	margin-bottom: 0px;
	font-size: 1.5vw;
}

aside h2, #main_title{
	color: #ffc1d8;
	text-shadow: 0em 0em 0.4em #F08080;
}

aside section{
	  border-bottom: 0.1vw dashed white;
}

blockquote {
    color: #878787;
    font-family: Georgia,serif;
    font-size: 0.8vw;
    font-style: italic;
    line-height: 1em;
    position: relative;
    text-align: right;
		margin-bottom: 1em;
		margin-top: 1em;
		margin-left: 0.5vw;
		margin-right: 0.5vw;
		padding-bottom: 1em;
}

blockquote p{
		margin-top: 0.5vmin;
    color: #979797;
    font-size: 0.9vw;
}

.sociallogo img{
	position: relative;
	width: 3vmax;
	border: none;
	left: 50%;
}

#logo img{
	position:sticky;
	border: none;
	width: 4vmax;
	margin: 0px;
	padding: 0px;
	float: left;
}

#logo h1{
	position:sticky;
	font-size: 3vmax;
	margin: 0px;
	margin-left: 1.5%;
	padding: 0px;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	float: left;
}

#enemyImg{
	margin-top: 8vmax;
	border: none;
	transition: all 1s;
	cursor: url('water2.cur'), auto;
	height: 55vmin;
	width: auto;
}

.shop p{
	font-size: 2vmax;
	font-weight: bold;
	color: #6B8E23;
	text-align: center;
	padding: 0 0;
	margin: 1.5vmax 1vmax;
	cursor: pointer;
	border: 0.5vmin solid green;
	border-radius: 0.25vw;
}

#dpc, #dps{
	position: fixed;
	color: white;
	font-size: 2vmax;
	top: 6.2vmax;
	text-align: right;
	width: 63vw;
}

#dps{
	left: 18vw;
}

#gold{
	display: inline-block;
	width: 69%;
	float: right;
	clear: right;
	color: #FFFF33;
	text-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
	margin-top: 0.5vh;
	font-size: 3vmax;
}

/*#diamonds{
	display: inline-block;
	width: 15%;
	float: right;
	color: skyblue;
	text-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
	margin-top: 0.1vh;
	font-size: 4vh;
}*/

#enemyHealth{
	position: fixed;
	top: 9vmax;
	width: 66.5vw;
	text-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
	font-size: 3vmax;
}

#stage{
	position: fixed;
	text-align: left;
	top: 6.2vmax;
	margin-left: 2vw;
	width: 66.5vw;
	text-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
	font-size: 2vmax;
}

.itemCost{
	color: white;
}

#settings{
	position: absolute;
	left: 90vw;
	border: none;
	width: 5vmax;
	margin-top: -0.5vh;
	margin-bottom: 0vh;
	cursor: pointer;
}

#settingsMenu{
	position: absolute;
	width: 30vmax;
	height: 50vmin;
	border: 2px solid white;
	border-radius: 0.55vw;
	background-color: rgba(111, 211, 151, 0.8);
	left: 38%;
	top: 25vmin;
}

#settingsCloseButton{
	position: absolute;
	cursor: pointer;
	left: 27vmax;
	top: 2.5vmin;
	font-size: 1.5vmax;
}

.settingsButton{
	position: relative;
	color: #6B8E23;
	font-size: 1.5vmax;
	width: 50%;
	left: 25%;
	margin-top: 1vh;
}

.settingsOption{
	font-size: 2vmax;
	margin-top: 2vmin;
}

#killedCount{
	position: fixed;
	width: 66.5vw;
	top: 86vmin;
	text-align: center;
	color: tomato;
	font-size: 2vmax;
	text-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

#enemyName{
	position: fixed;
	width: 66.5vw;
	top: 91vmin;
	text-align: center;
	color: #6B8E23;
	font-size: 2vmax;
	text-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

#damageText{
	position: absolute;
	font-size: 3vmax;
	text-shadow: 2px 2px 6px black;
}

#loadScreen{
	background-repeat: repeat;
	background-color: white;
	background-size: 30%;
	background-attachment: fixed;
	user-select: none;
	position: absolute;
	margin: 0px;
	padding: 0px;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#loadScreenLogo img{
	position: absolute;
	background-color: black;
	border: 10px solid black;
	margin: 0;
	padding: 0;
	top: 38vh;
	left: 34vw;
}
