html,
body {
		background-image: url(img/backgrounds/main_bg.jpg); /* Путь к фоновому рисунку */
		background-position:center; /* Положение фона */
		background-repeat: no-repeat; /* Отменяем повторение фона */
		background-color: pink;
		background-size: 100% 100%;
		background-attachment: fixed;
}
header {
		z-index: 100;
		left:0px;
		top:0px;
		position: fixed;
		background-color: rgba(255, 192, 203, 1);
		border: 2px dotted white;
		margin-bottom: 5px;
		height: 4%;
		width: 100%;
		font-size: 2vw;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight:bold;
		color:white;
}

article{
	position: absolute;
	left: 12%;
	margin: 15px 15px 5px 5px;
	background-color: rgba(135, 206, 235, 0.55);
	width: 86%;
	height: 180%;
	border: 2px dotted white;
	text-align: center;
}

aside{
	position: absolute;
	margin: 15px 15px 5px 5px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: rgba(111, 211, 151, 0.42);
	width: 10%;
	height: 180%;
	border: 2px dotted white;
	text-align: center;
}

//*footer{
	position: relative;
	top:2600px;
	margin: 15px 15px 5px 5px;
	background-color: lightgreen;
	width: 100%;
	height: 10%;
	border: 2px dotted white;
}*//

a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

/* контейнер меню */
.menu_box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #CCFFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

/*.sub_menu_box {
  display: block;
  position: fixed;
  visibility: hidden;
	top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #CCFFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}*/

/* элементы меню */
.menu_item {
  display: block;
  padding: 12px 24px;
  color: #173;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

/*.sub_menu_item {
  display: block;
  padding: 12px 34px;
  color: #173;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}*/

.menu_item:hover {
  background-color: #CFD8DC;
}

/* скрываем чекбокс */
#menu_toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu_btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 0.3%;
  left: 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.menu_btn > span::before {
  content: '';
  top: -8px;
}
.menu_btn > span::after {
  content: '';
  top: 8px;
}
#menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
	background-color: #000000;
}
#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
	background-color: #000000;
}
#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
	background-color: #000000;
}
#menu_toggle:checked ~ .menu_box {
  visibility: visible;
  left: 0;
}

#sub_open:hover ~ .sub_menu_box {
  visibility: visible;
  left: 0;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  transition-duration: .35s;
}
.menu_box {
  transition-duration: .35s;
}
.menu_item {
  transition-duration: .35s;
}

h1{
		text-align: center;
		color: white;
		font-size: 2vw;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		margin-bottom: 0px;
}
p{
		position: relative;
		font-size: 1vw;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		width: 50%;
		left: 25%;
		margin-top: 2px;
		margin-bottom: 2px;
}

img{
	width: 20%;
	border: 4px dotted green;
	border-radius: 15px;
	margin: 10px
}

b{
	color: #CCFFF1;
}

aside img{
	margin-top: 2px;
	width:70%;
	border: 2px solid white;
}

aside p {
	font-size: 10px;
	text-align: center;
}

h2{
	font-size: 20px;
	color: white;
	margin-top: 10px;
	margin-bottom: 0px;
}

aside h1{
	color:tomato;
}

blockquote {
    border-bottom: 1px dashed white;
    border-top: 1px dashed white;
    color: #878787;
    font-family: Georgia,serif;
    font-size: 9px;
    font-style: italic;
    line-height: 1.45;
    position: relative;
    text-align: right;
}

blockquote p{
    color: #979797;
    font-size: 11px;
}
