html,
body {
		background-image: url(img/backgrounds/brick.jpg); /* Путь к фоновому рисунку */
		background-position:center; /* Положение фона */
		background-repeat: no-repeat; /* Отменяем повторение фона */
		background-color: pink;
		background-size: 100%;
		background-attachment: fixed;
}
header {
		z-index: 1;
		left:0px;
		top:0px;
		position: fixed;
		background-color: rgba(255, 192, 203, 1);
		border: 0.05em solid white;
		border-radius: 0.2vw;
		height: 3.2vh;
		width: 99%;
		font-size: 3vh;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight:bold;
		color:white;
		margin-left: 0.4vw;
		margin-top: 0.01%;
		margin-right: 2vw;
}

aside{
	position: relative;
	margin-top: 3.3vh;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: rgba(111, 211, 151, 0.8);
	float:left;
	border: 0.1em solid white;
	border-radius: 0.5vw;
	text-align: center;
	width: 15%;
}

main{
	float:right;
	position: relative;
	margin-top: 3.3vh;
	background-color: rgba(135, 206, 235, 0.8);
	width: 83%;
	border-radius: 0.5vw;
	border: 0.1em solid white;
	text-align: center;
	padding-bottom: 2vw;
}
article img{
	width: 50%;
}

.snake_plant > img{
	width: 50%;
}

.content_img{
	margin-top:2.9vw;
}

article >.cactus{
	width: 50%;
	float: right;
}

article >.ajahuaska{
	width: 50%;
	float:left;
}

article >.snake_plant{
	clear: both;
	width:70%;
	position: relative;
	left: 15%;
}

footer{
	position: relative;
	float: left;
	clear:both;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
	background-color: rgba(255,250,205, 0.55);
	width: 99%;
	border: 0.1em solid white;
	border-radius: 0.5vw;
}

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

/* контейнер меню */
.menu_box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 17%;
  height: 100%;
  margin: 0;
  padding: 1.7em 0;
  list-style: none;
  text-align: center;
  background-color: #CCFFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

/* элементы меню */
.menu_item {
  display: block;
  padding: 0.5vw 0.24vw;
  color: #173;
  font-family: 'Roboto', sans-serif;
  font-size: 2vmax;
  font-weight: 600;
  text-decoration: none;
}

.menu_item:hover {
  background-color: #CFD8DC;
}

.sub_menu{
	position: relative;
	padding: 0;
	list-style: none;
	text-align: left;
	padding-left: 4.5vw;
	overflow: hidden;
	max-height:0vw;
	-webkit-transition:max-height 0.4s linear;
	-moz-transition:max-height 0.4s linear;
	transition:max-height 0.5s linear;
}
.sub_menu_item{
	display: block;
  padding: 3% 12%;
  color: rgba(17, 119, 51, 0.8);
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vmax;
  font-weight: 600;
  text-decoration: none;
}

.sub_menu_item:hover {
  background-color: #CFD8DC;
}

ul.menu_box > li:hover > ul.sub_menu{
	max-height:7vmax;
	display: block;
}

/* скрываем чекбокс */
#menu_toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu_btn {
  align-items: center;  /* центрируем содержимое кнопки */
  position: relative;
	float: left;
	margin-top: 0.45vh;
	margin-bottom: 0.3vh;
	margin-left: 1vmax;
	padding: 0;
  width: 1em;
	height: 0.8em;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.2vh;
  background-color: white;
	z-index: 1;
}
.menu_btn > span {
  content: '';
  top: 0.3em;
}

.menu_btn > span::before {
  content: '';
  top: -0.3em;
}
.menu_btn > span::after {
  content: '';
  top: 0.3em;
}
#menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
	background-color: #000000;
}
#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
	background-color: #000000;
}
#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
	background-color: #000000;
}
#menu_toggle:checked ~ .menu_box {
  visibility: visible;
  left: 0;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  transition-duration: .35s;
}
.menu_box {
  transition-duration: .45s;
}
.menu_item {
  transition-duration: .35s;
}

h1{
		text-align: center;
		color: white;
		font-size: 2vw;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		margin-bottom: 0px;
		margin-top: 0.2vw;
}
p{
		position: relative;
		font-size: 1.3vw;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		width: 50%;
		left: 25%;
		margin-top: 0.1vw;
		margin-bottom: 0.1vw;
}

img{
	width: 30%;
	border: 0.15vw solid green;
	border-radius: 1vw;
	margin-top: 0.5vw;
}

b, em, article em{
	color: #CCFFF1;
}

aside b, em{
	color: #6B8E23;
	font-weight: 600;
}

aside img{
	margin-top: 0.1vw;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	margin-bottom: 0.2vw;
	width:70%;
	border: 0.1vw solid white;
	border-radius: 0.15vw;
}

aside p {
	font-size: 1vw;
	text-align: center;
	margin-left: 0.15vw;
	margin-right: 0.5vw;
	margin-bottom: 0.4vw
}

h2{
	color: #6B8E23;
	margin-top: 0.1vw;
	margin-bottom: 0px;
	font-size: 1.5vw;
}

aside h1{
	color:tomato;
}

blockquote {
    border-bottom: 0.1vw dashed white;
    border-top: 0.1vw dashed white;
    color: #878787;
    font-family: Georgia,serif;
    font-size: 0.8vw;
    font-style: italic;
    line-height: 1em;
    position: relative;
    text-align: right;
		margin-bottom: 1em;
		margin-top: 1em;
		margin-left: 0.5vw;
		margin-right: 0.5vw;
		padding-bottom: 1em;
}

blockquote p{
		margin-top: 0.5vmin;
    color: #979797;
    font-size: 0.9vw;
}

.sociallogo img{
	position: relative;
	width: 3vmax;
	border: none;
	left: 50%;
}

#logo img{
	position:sticky;
	border: none;
	width: 3.2vh;
	margin: 0px;
	padding: 0px;
	float: right;
}

#logo h2{
	position:sticky;
	font-size: 3vh;
	margin: 0px;
	padding: 0px;
	color: white;
	float: right;
}
